<%- include('header') %>
<%- include('navbar') %>
<ol>
<li><a href="/login/google">Log In with Google</a></li>
<li><a href="/login/twitter">Log In with Twitter</a></li>
<li><a href="/login/linkedin">Log In with LinkedIn</a></li>
<li><a href="/login/facebook">Log In with Facebook</a></li>
<li><a href="/login/ibm">Log In with IBMID</a></li>
</ol>
<%- include('footer') %>