<nav class="navbar sticky-top navbar-light bg-faded" style="background-color: #e3f2fd;">
  <!-- Navbar content -->
  <span class="navbar-text">
    Passport Auth test Webapp - <%= navbartext %> 
  </span>
</nav>
